@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');
html {
    background-color: #493951;
    color: #f0f8ff;
}
h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin: auto
}
p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
dt {
    font-family: 'Barlow', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
}
dd {
    font-family: 'Barlow', 'sans-serif';
    font-weight: 300;
    font-size: 15px;
}
@keyframes box {
    0% {
        background-color: cyan;
        left: 0px;
        top: 400px;
    }
    25% {
        background-color: pink; 
        left: 300px; 
        top: 400px;
    }
    50% {
        background-color: white; 
        left: 300px; 
        top: 700px;
    }
    75% {
        background-color: pink; 
        left: 0px; 
        top: 700px;
    }
    100% {background-color: cyan; 
        left: 0px; 
        top: 400px;
    }
}
div {
    background-color: cyan;
    position: relative;
    animation-name: box;
    animation-duration: 4s;
    border-radius: 50%;
    width: 100;
    height: 100;
}