@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');
html {
    background-color: #916db0;
    color: #f0f8ff;
}
h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin: auto
}
p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
dt {
    font-family: 'Barlow', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
}
dd {
    font-family: 'Barlow', 'sans-serif';
    font-weight: 300;
    font-size: 15px;
}
.question {
    label {
        font-family: 'Barlow', sans-serif;
        font-size: 40px;
        font-weight: 300;
    }
}
.question input {
    width: 200px;
    height: 20px;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-weight: 200;
    border-radius: 20px;
    transition: width 0.4s ease-in-out;
    background-color: #ad509e;
    color: #f0f8ff;
}
.question input:focus {
    width: 90%;
    height: 30px;
    background-color: #c8a5e6;
}
.testButton {
    width: 40px;
    height: 20px;
    background-color: #ad509e;
    color: #f0f8ff;
}
.testButton:focus{
    width: 50px;
    height: 25px;
    background-color: #c8a5e6;
}